*, *::before, *::after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

html, body {
  height: 100%; }

.main-app-header {
  background-image: url(../images/foodtruck.jpg);
  background-position: center;
  background-size: cover;
  height: 50%; }
  .main-app-header h1 {
    color: #fffff8; }

.twit-btn {
  overflow: visible;
  position: relative;
  margin-bottom: 20px;
  top: -22px; }

.serving,
.looking {
  height: 50%;
  position: relative; }
  .serving .content,
  .looking .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.serving:hover,
.looking:hover {
  background: rgba(157, 70, 63, 0.5);
  color: white; }
