$hover-color: rgba(157,70,63,0.5);

*, *::before, *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

html, body {
    height: 100%;
}

.main-app-header {
    background-image: url(../images/foodtruck.jpg);
    background-position: center;
    background-size: cover;
    height: 50%;
    h1 {
        color: #fffff8;
    }
}



// serve-look page

.serving,
.looking {
    height: 50%;
    position: relative;
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.serving:hover,
.looking:hover {
    background: $hover-color;
    color: white;
}