$hover-color: rgba(157,70,63,0.5);

*, *::before, *::after{
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}

html, body {
    height: 100%;
}

body {
    background-color: #f7f7f9;
}

.main-app-header {
    // background-image: url(../images/mainpic.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    height: 75%;
    h1 {
        
        position: absolute;
        top:5%;
        left: 25px;
        color: #fffff8;
        border: 5px solid #fffff8;
        padding: 15px;
    }
}

// .btn {
//     border-radius: 0;
// }

.btn-main {
    color: white;
    background-color: rgb(157,70,63);
    border-color: rgb(157,70,63);
}

//login page

video#bgvid { 
    position: fixed;
    top: 25%;
    left: 50%;
    min-width: 100%;
    min-height: 75%;
    width: auto;
    height: 100%;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
    opacity: .8; 
    border-bottom: 5px solid black;
}

.twit-btn {
    overflow: visible;
    position: relative;
    margin-bottom: 20px;
    top: -15px;
}


// serve-look page

.serving,
.looking {
    height: 50%;
    position: relative;
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}

.serving:hover,
.looking:hover {
    background: $hover-color;
    color: white;
}


@media screen and (min-device-width: 480px) {
    
}