<nav class="navbar navbar-default navbar-static-top">
  <div class="container nav-color">
    <a class="navbar-brand" href="#">WYA</a>
  </div>
</nav>
<div class="container">
    <div class="row map-holder">
        <div class="col-xs-12">
            <ui-gmap-google-map center='cookMap.map.center' zoom='cookMap.map.zoom'>
                
                <ui-gmap-marker 
                coords="cookMap.marker.coords" 
                idkey="cookMap.marker.id">
                </ui-gmap-marker>
                
            </ui-gmap-google-map>
        </div>
    </div>   
    <div class="results-list">
        <div class="col-xs-12 text-center">
        <h2>You are now set</h2>
        </div>
        <hr class="ln-break">
        <button ng-click="cookMap.saveLocation()" class="btn btn-default col-xs-6 col-xs-offset-3">Save Location</button>            
        <button ui-sref="cook-set-time" class="btn btn-default col-xs-6 col-xs-offset-3">Go Back</button>          

    </div>
