<nav class="navbar navbar-default navbar-static-top">
  <div class="container nav-color">
    <a class="navbar-brand" ui-sref="serve-look">WYA</a>
  </div>
</nav>
<div class="container">

    <leaflet 
    width="100%" 
    height="480px"
    lf-center="cookMap.center"
    markers="cookMap.markers">
    </leaflet>

    <div class="results-list">
        <div class="col-xs-12 text-center">
        <h2>{{cookMap.confirmation}}</h2>
        </div>
        <hr class="ln-break">
        <button ng-click="cookMap.saveLocation()" class="btn btn-default col-xs-6 col-xs-offset-3">Confirm Location</button>            
        <button ui-sref="cook-set-time" class="btn btn-default col-xs-6 col-xs-offset-3">Go Back</button>          

    </div>
</div>    
