
<div class="container-fluid">
    <div class="row-fluid map-holder">
        <div class="col-xs-12 col-sm-6">
            <ui-gmap-google-map center='cookMap.map.center' zoom='cookMap.map.zoom'>
                
                <ui-gmap-marker 
                coords="cookMap.marker.coords" 
                idkey="cookMap.marker.id">
                </ui-gmap-marker>
                
            </ui-gmap-google-map>
        </div>
    
    <div class="row-fluid results-list">
        <div class="col-xs-12 col-sm-6">
        <h2>You are now set</h2>
        </div>
    </div>
    
    <button class="btn btn-default">save location</button>
    
    
</div>