<nav class="navbar navbar-default navbar-static-top">
<div class="container nav-color">
    <a class="navbar-brand" ui-sref="serve-look">WYA</a>
    <a class="logout navbar-brand pull-right" ng-click="main.logout()">LOG OUT</a>
</div>
</nav>  
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <form class="form-horizontal">
            <fieldset>

            <!-- Form Name -->
            <legend>Enter Info</legend>

            <!-- Text input-->
            <div class="form-group">
            <label class="col-xs-12 control-label pull-left" for="Stand Name">Stand Name</label>  
            <div class="col-xs-12">
            <input ng-model="cookTime.title" name="Stand Name" type="text" placeholder="" class="form-control input-lg" required="">
            </div>
            </div>
                     
            <!-- Textarea -->
            <div class="form-group">
            <label class="col-xs-12 control-label" for="textarea">Description</label>
            <div class="col-xs-12">                     
                <textarea ng-model="cookTime.description" class="form-control" id="textarea" name="textarea"></textarea>
            </div>
            </div>

            
            <!--time-->
            <div class="form-group">
            <label class="col-xs-12 control-label pull-left" for="Stand Name">END TIME</label>  
                <div class="col-xs-12">
                    <p class="input-group">           
                        <input id="endDate" type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="cookTime.endDate" is-open="cookTime.open"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="cookTime.openCal()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p> 
                    <!--<span>{{ cookTime.endDate | date: "shortDate"}}</span>-->
                </div>
            </div>   
                                                          
            </fieldset>
            </form>
            
            <button class="btn btn-default col-xs-6" ng-click="cookTime.saveCookInfo()">{{ cookTime.saveBut }}</button> 
            <button class="btn btn-default col-xs-6" ng-click="cookTime.getLoc()">SET PIN</button>                       
        </div>

    </div>


</div>