<nav class="navbar navbar-default navbar-static-top">
<div class="container nav-color">
    <a class="navbar-brand" ui-sref="serve-look">WYA</a>
    <a class="logout navbar-brand pull-right" ng-click="main.logout()">LOG OUT</a>
</div>
</nav>  
<div class="container">
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <p class="text-center">Click to get current location</p>
        <button ng-click="location.getLoc()" class="btn btn-default btn-block">Get Location</button>
        <hr class="ln-break">
        <p class="text-center">or..</p>
        <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Street Address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">City</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="State">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">State</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="State">
        </div>        

        <button type="submit" class="btn btn-default">Submit</button>
        </form>           
    </div>
    </div>
</div>