    <div class="main-app-header container">
        <div class="row">
            <header class="text-center"><h1>WYA</h1></header>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <button ng-click='main.twitterAuth()' class="btn btn-primary">Twitter Login</button>
            </div>
            <div class="col-xs-12 text-center">
                <button ng-click='main.faceBookAuth()' class="btn btn-primary">Facebook Login</button>
            </div>    
        </div>
    </div>