<nav class="navbar navbar-default navbar-static-top">
  <div class="container nav-color">
    <a class="navbar-brand" ui-sref="serve-look">WYA</a>
  </div>
</nav>
<div class="container">

        <leaflet 
        width="100%" 
        height="480px"
        lf-center="nearby.center"
        markers="nearby.markers">
        </leaflet>
        
        <hr class="ln-break">

    
    <div class="results-list">
        <div class="col-xs-12 text-center">
        <h2>Showing nearby stands with the zip: {{ nearby.zipCode }} </h2>
        <p>Current Address: {{ nearby.address }} </p>
        </div>
        <!--<button ng-click="nearby.saveLocation()" class="btn btn-default">Save location</button>-->
    </div>
    


    
    
</div>

