<div class="fixed-header">
    <h1>WYA</h1>
</div>
<div class="container-fluid">
    <div class="row-fluid map-holder">
        <div class="col-xs-12 col-sm-6">
            <ui-gmap-google-map center='nearby.map.center' zoom='nearby.map.zoom'>
                
                <ui-gmap-marker 
                coords="nearby.marker.coords" 
                idkey="nearby.marker.id">
                </ui-gmap-marker>
                
            </ui-gmap-google-map>
        </div>
    
    <div class="row-fluid results-list">
        <div class="col-xs-12 col-sm-6">
        <h2>showing nearby stands with the of zip: {{ nearby.zipCode }} </h2>
        <p>Current Address: {{ nearby.address }} </p>
        </div>
        
        <button ng-click="nearby.saveLocation()" class="btn btn-default">Save location</button>
    </div>
    

    
    
</div>

