<div class="serving container-fluid">
    <div class="row-fluid">
        <div class="vert text-center col-xs-12">
            <a ui-sref="cook-set-time" class="btn btn-lg col-sm-6 col-sm-offset-3 btn-default"><span class="glyphicon glyphicon-fire"></span> COOKING</a>
        </div>
    </div>
</div>
<hr class="ln-break">
<div class="looking container-fluid">
    <div class="row-fluid">
        <div class="vert col-xs-12">
            <a ui-sref="get-location" class="btn btn-lg col-sm-6 col-sm-offset-3 btn-default"><span class="glyphicon glyphicon-eye-open"></span> LOOKING</a>
        </div>
    </div>
</div>
