<div id="welcome" class="container">
	<div class="row">
		<div class="welcome-box col-sm-6 col-sm-offset-1">
				<h1>Welcome!</h1>
				<p>Hello and thanks for checking out my project.</p>
				<p>The WYA App is a handy web app that allows you to easily locate anyone selling street food within your current Zipcode. This app also lets any cook set a pin of their current location of where they will be selling their food. </p>
				<p>
					To get started, just login with either your Facebook or Twitter account and follow the next set of instructions.
				</p>
				<button ui-sref="login" class="btn btn-main">Continue</button>
		</div>
	</div>
</div>
